@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;

  /* 让子元素继承宽度 */
  > * {
    width: 100%;
  }
}